
@font-face {
    font-family: 'TeXGyreCursorRegular';
    src: url('../font/TeX-Gyre-Cursor/texgyrecursor-regular-webfont.eot');
    src: url('../font/TeX-Gyre-Cursor/texgyrecursor-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/TeX-Gyre-Cursor/texgyrecursor-regular-webfont.woff') format('woff'),
         url('../font/TeX-Gyre-Cursor/texgyrecursor-regular-webfont.ttf') format('truetype'),
         url('../font/TeX-Gyre-Cursor/texgyrecursor-regular-webfont.svg#TeXGyreCursorRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'TeXGyreCursorBold';
    src: url('../font/TeX-Gyre-Cursor/texgyrecursor-bold-webfont.eot');
    src: url('../font/TeX-Gyre-Cursor/texgyrecursor-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/TeX-Gyre-Cursor/texgyrecursor-bold-webfont.woff') format('woff'),
         url('../font/TeX-Gyre-Cursor/texgyrecursor-bold-webfont.ttf') format('truetype'),
         url('../font/TeX-Gyre-Cursor/texgyrecursor-bold-webfont.svg#TeXGyreCursorBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
    font-family: Arial, sans-serif;
    color: #393939;
    font-size: 16px;
    padding: 10px;
}
img {
    max-width: 100%;
}
a {
    white-space: nowrap;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-family: 'TeXGyreCursorRegular', Arial, sans-serif;
    letter-spacing: 0;
}

.page-header {
    padding-bottom: 0;
    color: #393939;
    font-family: 'TeXGyreCursorRegular', Arial, sans-serif;
}
.page-header .brand {
    text-align: center;
    width: 100%;
    margin: 36px 0 42px 0;
    float: none;
}
.page-header .brand h1 {
    font: 38px/57px 'TeXGyreCursorBold', Arial, sans-serif;
}
.page-header .brand a {
    color: #393939;
}
.page-header .brand a:hover {
    color: #333333;
    text-decoration: none;
}
#navbar .nav > li {
    display: inline-block;
}
#navbar .nav > li > a {
    float: none;
    color: #393939;
    font-size: 18px;
    line-height: 19px;
    background: none;
    padding: 10px 0px 12px 0;
    text-decoration: none;
    text-shadow: none;
    margin-right: 32px;
}
#navbar .nav > li > a:hover {
    color: #333333;
    text-decoration: underline;
}
#collapsed-navbar {
    width: 100%;
}

#content .box {
  width: 50%;
  padding: 6px;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 12px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

footer {
    font-family: 'TeXGyreCursorRegular', Arial, sans-serif;
    border-top: 1px solid #ddd;
    margin-top: 35px;
    padding-top: 6px;
    text-align: center;
    font-size: 12px;
}

@media screen and (min-width: 720px) {
  #content .box { width: 33%; }
}

@media screen and (min-width: 992px) {
  #content .box { width: 20%; }
}